<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title>Blog</title>
  </head>
  <body>
    <%- include('partials/navbar') %> <% if (locals.blog) { %> <%

    <div class="container mt-4">
      <img
        src="/<%= blog.coverImageUrl %>"
        class="img-fluid"
        alt="blogImage"
        width="700px"
      />
      <h1 class="mt-4"><%= blog.title %></h1>
      <pre class="mt-3"><%= blog.body %></pre>
    </div>

    <div class="container mt-4">
      <img
        src="<%= blog.createdBy.profileImageUrl %>"
        class="img-fluid"
        alt="authorImage"
        width="80px"
      />
      <%= blog.createdBy.fullName %>
    </div>
    <% } %> <%- include('partials/script') %>
  </body>
</html>
